<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <style>
            form{
                width:200px;
                border: 1px solid #DDD;
                border-radius: 3px;
                padding: 20px;
                margin: auto;
                margin-top: 10%;
            }
        </style>
    </head>

    <body>
        <form action="login" method="post">
            <h2>Login</h2>
            <input type="text"      name="imput_email" placeholder="Email" style="width:100%;">
            <br><br>
            <input type="password"  name="imput_senha" placeholder="Senha" style="width:100%;">
            <br><br>
            <input type="submit"    value="Enviar" style="float:right">
            <br>
        </form>
  </body>

</html>