<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><i class="fas fa-shopping-cart"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Carinho</a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
        </form>
    </nav>

    </br>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Compra 1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Há 2 dias atrás</h6>
                    <p class="card-text">Valor: R$110,00</p>
                    <a href="#" class="card-link">Ver Compra</a>
                    <a href="#" class="card-link">Refazer compra</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Compra 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Há 3 dias atrás</h6>
                    <p class="card-text">Valor: R$50,00</p>
                    <a href="#" class="card-link">Ver Compra</a>
                    <a href="#" class="card-link">Refazer compra</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Compra 3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Há 5 horas atrás</h6>
                    <p class="card-text">Valor: R$200,00</p>
                    <a href="#" class="card-link">Ver Compra</a>
                    <a href="#" class="card-link">Refazer compra</a>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</body>

</html>